/* Règles générales */
* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width: 1400px;
    margin: auto;
    font-weight: 400;
    font-size: 1em;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Header, comprenant la navigation */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.logo {
    width: 61px;
    height: 19px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.menu__element {
    padding-top: 30px;
}

.menu__element:hover {
    color: #0065FC;
    font-weight: 500;
    border-top: 3px #0065FC solid;
}

/* Formulaire de recherche */
main {
    margin: 20px;
    margin-top: 40px;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex: row;
}

#search {
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-left: none;
    border-right: none;
    padding: 15px;
    font-weight: 700;
    font-size: 1.3em;
    color: black;
}

#search::placeholder {
    font-weight: 700;
    font-size: 0.9em;
    color: black;
}

.form__element {
    height: 49px;
}

.icone_location {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    position: relative;
}

.fa-location-dot {
        position: relative;
        left: 20px;
        top: 15px;
}

.form__button {
    width: 132px;
    background: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
}

/* Filtres */
.filtre {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-weight: 700;
    font-size: 1.1em;
}

.filtres__liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
}

.filtre__button {
    margin: 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.filtre__button:hover {
    background-color: #DEEBFF;
}

.icone_filtre {
    color: #0065FC;
    padding: 0 15px 0 0;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icone_info {
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    position: relative;
}

.fa-info {
    color: #0065FC;
    position: relative;
    left: 10px;
    top: 2px;
}

/* Card */
#hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #FFFFFF;
    border-radius: 20px;
    width: 246px;
  }
  
  .card__img {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    height: 124px;
    width: 96%;
    object-fit: cover;
  }

  .element__container {
    margin: 3px;
    font-size: 0.9em;
  }

  .container {
    padding: 0 0 5px 15px;
  }

  h3, span {
    font-weight: 700;
    font-size: 1em;
  }

  .fa-star {
    color: #0065FC;
  }

  .star_opacity {
    opacity: 0.1;
  }